body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5em;
    color: #16cc3b;
}

.levels-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.level {
    border: 2px solid #8fec8f;
    border-radius: 8px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.level h2 {
    color: #16cc3b;
    text-align: center;
    margin-bottom: 15px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.room-pair {
    display: flex;
    gap: 4px;
}

.room-card {
    flex: 1;
    padding:  8px;
    text-align: center;
    background-color: #d6f5d6;
    color: #333;
    cursor: pointer;
    border: 1px solid green;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.room-card.taken {
    background-color: #a1d6a1;
}